{% extends "layouts/base.html" %}
{% load static %}
{% block content %}

            <form action="" method="GET" style="color: aliceblue">
            <p align="right">
                <input name="word" type="text" placeholder="Enter First Name">
                <input type='submit' name='button' value="Submit">
            <br>
            <br>
            </p>
            </form>

          <table>
        <h2 style="color: aliceblue" align="center">Business Partner Assignments</h2>
        {{ html_table|safe }}
        </table>
        </div>
      </div>
    </div>
  </div>
<style>
            h1,

        label {
            display: block;
            margin-top: 10px;
        }

        input,
        textarea {
            width: 200px;
            padding: 8px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            margin: 10px;
            padding: 8px 16px;
            background-color: #f1922f;
            color: #050505;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }

        table {
            background-color: #ece6e6;
            border-collapse: collapse;
            margin-bottom: 20px;
            margin-left: 20px;
            margin-right: 20px;
            width: 98%;
            color: #0a0b0b;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #C21D2b;
            color: #fff;
        }
</style>
{% endblock content %}